# --- STM32 / CubeIDE мусор ---
# Игнорирует все папки Debug и Release во всем дереве проекта
**/Debug/
**/Release/

# Игнорирует временные файлы компиляции по расширению
*.o
*.su
*.cyclo
*.elf
*.list
*.map
*.hex
*.bin

# --- Visual Studio / C# мусор ---
# Игнорирует папку настроек VS (она очень тяжелая)
**/.vs/

# Игнорирует результаты сборки C# во всех подпапках
**/bin/
**/obj/

# Игнорирует файлы пользовательских настроек и базы данных поиска
*.user
*.db
*.opendb
*.suo